<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cl.ipp.katbag"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
         >
        <activity
            android:name="cl.ipp.katbag.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Holo.Theme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cl.ipp.katbag.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.RootActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.Add"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_add"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.Board"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_board"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.Develop"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_developments"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.Drawings"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_drawings"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.Edit"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_edit"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.Menu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_menu"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.SelectType"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_select_type"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.Worlds"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_worlds"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.OneWorld"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_worlds"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.Player"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_player"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.Pages"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_player"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.OnePage"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_player"
            android:windowSoftInputMode="stateHidden|stateUnchanged" >
        </activity>
        <activity
            android:name="cl.ipp.katbag.fragment.PlayerBook"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_player_book"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
    </application>

</manifest>